.loginPage {
  position: relative;
  /* height: 100vh; */
  /* background: url("https://assets.nflxext.com/ffe/siteui/vlv3/c0a32732-b033-43b3-be2a-8fee037a6146/4b723240-7bae-4ffe-96d0-91fba08c69ee/US-en-20210607-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat; */
  background-size: cover;
}

.loginPage__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  margin-top: -80px;
}

.loginPage__background > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.loginPage__background--overlay {
  background: rgb(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.loginPage__header {
  z-index: 3;
  position: relative;
  height: 80px;
}
.loginPage__header > * {
  z-index: inherit;
}

.loginPage__logo {
  position: absolute;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  height: 80px;
  cursor: pointer;
}

.loginPage__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.loginPage__gradient {
  width: 100%;
  height: auto;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0, 0.8) 100%
  );
}

.loginPage__body {
  position: relative;
  /* width: 100%; */
  color: #fff;
  z-index: 2;
  padding: 70px 45px;
}

.loginPage__body-container {
  position: relative;
  width: 100%;
  padding: 75px 0px;
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  z-index: 3;
  color: #fff;
}

.loginPage__body-container > * {
  z-index: inherit;
}

.loginPage__body-container > h1 {
  font-size: 3.125rem;
  font-weight: 600;
  max-width: 600px;
  margin: 0 auto 20px;
}

.loginPage__body-container > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginPage__body-container > h3 {
  font-size: 1.3em;
  font-weight: 400;
}

.loginPage__input {
  margin: 20px;
}

.loginPage__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 60%;
  border: none;
  max-width: 600px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.loginPage__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* --- Main --- */
.col-6 {
  flex: 0 0 60%;
}
.col-4 {
  flex: 0 0 40%;
}

.col {
  flex: 0 1 auto;
}

.jumbotron {
  padding: 7rem 4.5rem;
  background-color: #000;
  border-top: 8px solid #222;
}

.horizonral-line {
  border-top: 8px solid #222;
  width: 100%;
}

.jumbotron-container {
  margin: 0 auto;
  max-width: 1100px;
  color: #fff;
  width: 100%;
}

div.jumbotron:nth-of-type(2n) > .jumbotron-container {
  display: flex;
  flex-direction: row-reverse;
}

div.jumbotron:nth-of-type(2n) > .jumbotron-container > .jumbotron__contents {
  padding-left: 50px;
}
div.jumbotron:nth-of-type(2n + 1)
  > .jumbotron-container
  > .jumbotron__contents {
  padding-right: 50px;
}

.jumbotron__contents {
  text-align: left;
  margin: auto;
  /* padding-right: 30px; */
  width: 52%;
}

.jumbotron__contents > h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.jumbotron__contents > h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.jumbotron__media {
  position: relative;
  width: 48%;
  margin: -10% -5% -5% 0;
}

.jumbotron__media > img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.jumbotron__media--video {
  position: absolute;
  top: 48%;
  left: 50%;
  max-width: 72%;
  max-height: 65%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(
    100% 0,
    100% 100%,
    94% 100%,
    94% 61%,
    85% 61%,
    85% 100%,
    0 100%,
    0 0
  );
  clip-path: polygon(
    100% 0,
    100% 100%,
    94% 100%,
    94% 61%,
    85% 61%,
    85% 100%,
    0 100%,
    0 0
  );
}
div.jumbotron:nth-of-type(3)
  > div.jumbotron-container
  > .jumbotron__media
  > div.jumbotron__media--video {
  position: absolute;
  top: 34%;
  left: 50%;
  max-width: 60%;
  max-height: 65%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;
  -webkit-clip-path: polygon(
    100% 0,
    100% 54%,
    79% 54%,
    79% 100%,
    5% 100%,
    2% 79%,
    0% 78%,
    0% 0%
  );
  clip-path: polygon(
    100% 0,
    100% 54%,
    79% 54%,
    79% 100%,
    5% 100%,
    2% 79%,
    0% 78%,
    0% 0%
  );
}

.jumbotron__media--video > video {
  /* margin: -10% -5% -5% 0; */
  width: 100%;
  height: 100%;
}

div.jumbotron:nth-child(2) > .jumbotron-container > .jumbotron__media {
  margin: -8% 0% -4% -5%;
}

div.jumbotron:nth-child(3) > .jumbotron-container > .jumbotron__media {
  margin: -5% -5% -5% 0;
}

div.jumbotron:nth-child(4) > .jumbotron-container > .jumbotron__media {
  margin: -5% 0% -5% 0;
}

/* section fqa-section */

section.fqa-section {
  border-top: 8px solid #222;
  color: #fff;
  text-align: center;
}

section.fqa-section > h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 3rem 0;
}
section.fqa-section > button {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background: var(--primary-color);
  border-radius: 5px;
  margin: 3rem 0 5rem;
}

.qna {
  width: 100%;
}

.qna-container {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  position: relative;
}

.qna-container * {
  box-sizing: border-box;
}

/* footer */

footer {
  border-top: 8px solid #222;
  color: #757575;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  padding: 4rem 0;
  margin: 0 auto;
  max-width: 1100px;
  width: 92%;
}

.footer__title {
  font-size: 1.2rem;
}

.footer__body {
  margin: 1.6rem 0;
}

.footer__body > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer__body > ul > li {
  flex: 0 0 25%;
  font-size: 0.9rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: 300;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* .jumbotron__media--video {
    top: 29%;
    left: 50%;
    max-width: 71%;
    max-height: 65%;
  } */
  .jumbotron-container {
    flex-direction: column !important;
  }

  .jumbotron__media {
    width: 100%;
  }

  .jumbotron__contents {
    text-align: center;
    width: 92%;
    padding: 0 0 5rem !important;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
  .footer {
    width: 80%;
  }
  .footer__body > ul > li {
    flex: 0 0 50%;
  }
}
