.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  transition: all 0.5s ease-in;
}

.nav__black {
  background: #111;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: fixed;
  /* top: 10px; */
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav__logo > img {
  object-fit: contain;
  width: 80px;
}

.nav__avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
}

.nav__account {
  display: flex;
  align-items: center;
  height: 80px;
  cursor: pointer;
  position: fixed;
  font-size: 2.4rem;
  right: 20px;
  color: #e50914;
}
